*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Poppins', sans-serif;}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(104, 19, 19);
}
p{
    color: rgb(104, 19, 19);
}
.container{
    max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.btn:hover{
    background: rgb(134, 44, 44);
}
.btn{
    display: inline-block;
    background: darkblue;
    color: darkgoldenrod;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
}
.header{
    background: radial-gradient(rgb(202, 134, 134), darkolivegreen);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(49, 35, 35);
}
.title::after{
    content: '';
    background: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
transform: translateX(-50%);
}
.h4{
    color: rgb(24, 19, 19);
    font-weight: normal;
}
.col-4 p{
font-size: 14px;
}
.rating .fa{
    color: rgb(104, 19, 19);
}
.col-4:hover{
transform: translateY(-5px);
}
/*---Offer---*/
.offer{
    background: radial-gradient(rgb(235, 129, 137),rgb(238, 238, 215)
    );
    margin-top: 80px;
    padding: 30px;
}
.col-2 .offer-img{
    padding: 50px;
}
.small{
    color: saddlebrown;
}
/*---Product Review---*/

.Reviews{
    padding-top: 100px;
}
.Reviews .col-3{
text-align: center;
padding: 40px 20px;
box-shadow: 0 0 20px 0px rgb(138, 138, 12);
cursor: pointer;
transition: transition 0.5s;
}
.Reviews .col-3:hover{
transform: translateY(-10px);    
}
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);

}
.col-5 img:hover{
    filter:grayscale(0)
}
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;}
.footer h3{
    color: #fcf6f6fb;
margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 60px;
margin-bottom: 20px;}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    width: 140px;
}
.footer hr{
    border: none;
    background: #7c3a3a;
    height: 1px;
    margin: 20px;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
/*-----media query FOR MENU-----*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(32, 25, 26);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }nav ul li a{
        color: floralwhite;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*---all products page---*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid rgb(209, 151, 35);
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid blue;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: rgb(156, 73, 13);
}
/*---Single Product details---*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
 padding: 0;
}
.single-product .col-2{
    padding: 30px;
}
.single-product .h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding: left 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523f;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: rgb(104, 19, 19);
    margin-left: 10px;
}
/*---cart item---*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: rgb(199, 23, 23);
    background: lightblue;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;

}
td a{
    color: rgb(194, 43, 43);
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
border-top: 3px solid rgb(124, 48, 48);
width:100%;
max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*---media query FOR MENU less than 600 screen size---*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
}
/*---account-page---*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(rgb(255, 229, 229), darkolivegreen);
}
.form-container{
    background: rgb(238, 238, 215);
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:0 0 20px 0 salmon;
overflow: hidden;}
.form-container span{
font-weight: bold;
padding: 0 10px;
color:#555;
cursor: pointer;
width: 100px;
display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width:300px;
    padding: 0 20px;
position: absolute;
top:130px;
transition: 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding:0 10px;
border: 1px solid #ccc;}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
} 
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523f;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}
